/* ==========================================================================
   Components Help Center
   ========================================================================== */

.help-center {
  $hc: &;
  overflow: hidden;
  padding: 56px 0;
  @include large {
    padding: 48px 0;
  }
  @include medium {
    padding: 40px 0;
  }
  @include small {
    padding: 32px 0;
  }
  &__head {
    text-align: center;
    max-width: 578px;
    margin: 0 auto 40px;
    @include large {
      margin-bottom: 32px;
    }
    @include medium {
      margin-bottom: 24px;
    }
    @include small {
      margin-bottom: 16px;
    }
    .txt-el__title {
      margin-bottom: 0;
    }
  }
  &__body {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 40px;
    font-size: 0;
    text-align: center;
    @include large {
      margin-bottom: 32px;
    }
    @include medium {
      margin-bottom: 24px;
    }
  }
  &__foot {
    text-align: center;
  }
  #{$hc} {
    &__item {
      display: inline-block;
      width: 33.333333%;
      padding: 24px 16px;
      @include medium {
        width: 50%;
      }
      @include x-small {
        width: 100%;
        padding: 16px;
      }
    }
  }
}
