/* ==========================================================================
   Components Our Spaces
   ========================================================================== */

.our-spaces {
  $os: &;
  position: relative;
  padding: 56px 0 112px;
  @include large {
    padding: 48px 0 96px;
  }
  @include medium {
    padding: 40px 0 80px;
  }
  @include small {
    padding: 32px 0;
  }
  &__head {
    font-size: 0;
    margin-bottom: 56px;
    @include large {
      margin-bottom: 40px;
    }
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    font-family: ff(title);
    @include font-size(40);
    font-weight: fw(700);
    color: color(primary, 1);
    margin-right: 164px;
    margin-bottom: 0;
    @include large {
      display: block;
      margin-right: 0;
      margin-bottom: 24px;
    }
    @include medium {
      @include font-size(32);
    }
    @include x-small {
      @include font-size(24);
      margin-bottom: 16px;
    }
  }
  &__desc {
    max-width: 456px;
    display: inline-block;
    vertical-align: middle;
    @include font-size(18);
    font-weight: fw(500);
    color: color(grey, 2);
    margin-bottom: 0;
    @include large {
      display: block;
      max-width: 500px;
    }
    @include x-small {
      @include font-size(16);
    }
  }
  &__body {
    margin-left: -16px;
    margin-right: -16px;
    @include clearfix;
    @include small {
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      @include scroll('x', 'touch', 'hide');
    }
    @include x-small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
    }
  }
  #{$os} {
    &__item {
      float: left;
      width: 33.3333%;
      padding: 0 16px;
      @include small {
        float: none;
        display: inline-block;
        width: 320px;
        padding: 0;
        margin-right: 24px;
        &:last-child {
          margin-right: 16px;
        }
      }
      @include x-small {
        width: 280px;
      }
    }
  }
  .owl-carousel {
    margin: 0;
    .owl-item {
      #{$os} {
        &__item {
          float: none;
          width: 100%;
          padding: 0;
        }
      }
    }
    @include owl-nav;
    .owl-nav {
      position: absolute;
      top: -104px;
      right: 0;
      z-index: zi(owl-nav);
    }
    @include owl-dot('true');
    .owl-dots {
      position: absolute;
      left: 50%;
      bottom: -56px;
      transform: translateX(-50%);
      z-index: zi(owl-dots);
      font-size: 0;
      @include large {
        bottom: -40px;
      }
    }
  }
  @include slider-counter;
  .slider-counter {
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    @include medium {
      bottom: 0;
    }
    @include small {
      display: none;
    }
  }
}
