//-------------------------------------------------------------------------------
  @name: Help Center Item
  -------------------------------------------------------------------------------//

// help-center-item
.help-center__item
  .help-center__box
    a.help-center__link(href=data.to)
    .help-center__txt
      h3.help-center__title
        | !{data.title}
    ='\n'
    .help-center__btn
      ='\n'
      i.fi-chevron-down

='\n'
// end-help-center-item
