//-------------------------------------------------------------------------------
  @name: Who Uses Item
  -------------------------------------------------------------------------------//

// who-uses-item
.who-uses__item
  .who-uses__box
    ='\n'
    a.who-uses__link(href=data.to)
    .who-uses__img
      ='\n'
      img.who-uses__img__el(src='assets/img/icon/'+data.img.src alt=data.img.alt)/
    ='\n'
='\n'
// end-who-uses-item
