extends ../templates/default.pug

//- Head
block siteHeader
  -
    siteTitle = 'Home';

//- Body
block siteContent

  //- main-banner
  include home/main-banner.pug

  //- our-spaces
  include home/our-spaces.pug

  //- why-frisfes
  include home/why-frisfes.pug

  //- our-facilities
  include home/our-facilities.pug

  //- gallery
  include home/gallery.pug

  //- who-uses
  include home/who-uses.pug

  //- reviews
  include home/reviews.pug

  //- help-center
  include home/help-center.pug

  //- article
  include home/article.pug

  //- offer
  include home/offer.pug
