-
  data = {
    title: 'News, events and insights for you',
    btn: {
      to: 'article.html',
      text: 'See more'
    },
    list: [
      {
        class: 'primary',
        to: 'article-detail.html',
        img: 'article-1.jpg',
        title: 'Google I / O 2020 news update',
        desc: 'Out of concern for the health and safety of our developers, employees, and local communities — and in line with recent workspace for inspirations',
        avatar: {
          img: 'author.png',
          author: 'Sundar pichai',
          position: 'CEO at Google'
        },
      },
      {
        to: 'article-detail.html',
        img: 'article-2.jpg',
        title: 'Minimal workspace for inspirations',
        desc: 'Anthony Masional',
      },
      {
        to: 'article-detail.html',
        img: 'article-3.jpg',
        title: 'Does productivity increase when working remotely ? ',
        desc: 'Franck Martin',
      },
      {
        to: 'article-detail.html',
        img: 'article-4.jpg',
        title: 'Morning routine to boost your mood',
        desc: 'Elizabeth swan',
      },
      {
        to: 'article-detail.html',
        img: 'article-5.jpg',
        title: '5+ tips to find comfortable co-working space',
        desc: 'Mykola Ilschenko',
      }
    ]
  };

include ../../layouts/article.pug
