-
  data = {
    tagline: 'Frispes gallery',
    title: 'Immersive beautiful co-working space gallery',
    list: [
      {
        img: {
          src: 'gallery-1.jpg',
          alt: 'Frispes gallery'
        }
      },
      {
        img: {
          src: 'gallery-2.jpg',
          alt: 'Frispes gallery'
        }
      },
      {
        img: {
          src: 'gallery-3.jpg',
          alt: 'Frispes gallery'
        }
      },
      {
        img: {
          src: 'gallery-4.jpg',
          alt: 'Frispes gallery'
        }
      },
      {
        img: {
          src: 'gallery-1.jpg',
          alt: 'Frispes gallery'
        }
      },
    ]
  };

include ../../layouts/gallery.pug
