-
  dataHelpCenter = {
    title: 'Find the answers to anything you need in our Help Center',
    btn: {
      to: 'help-center.html',
      text: 'More questions'
    },
    list: [
      {
        to: 'help-center-detail.html',
        title: 'How do I know if a space is available?'
      },
      {
        to: 'help-center-detail.html',
        title: 'How do i book a space?'
      },
      {
        to: 'help-center-detail.html',
        title: 'How do reviews work?'
      },
    ]
  };

include ../../layouts/help-center.pug
