-
  data = {
    tagline: 'Became a member',
    title: 'Ready to try different work experience now?',
    desc: 'Get the best working experience that you never feel before',
    img: {
      src: 'member.png',
      alt: 'member'
    },
    btn: {
      to: 'login.html',
      text: 'SIGN UP NOW'
    }
  };

include ../../components/offer.pug
