-
  data = {
    title: 'Our Spaces',
    desc: 'Our space is designed to give you a different experience when working with your team or personally',
    list: [
      {
        to: 'our-spaces-detail.html',
        title: 'Working with team',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'working with team'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Private Space',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'Private Space'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Custom Office',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-2.jpg',
          alt: 'Custom Office'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Working with team',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'working with team'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Private Space',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'Private Space'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Custom Office',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-2.jpg',
          alt: 'Custom Office'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Working with team',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'working with team'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Private Space',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'Private Space'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Custom Office',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-2.jpg',
          alt: 'Custom Office'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Working with team',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'working with team'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Private Space',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-1.jpg',
          alt: 'Private Space'
        }
      },
      {
        to: 'our-spaces-detail.html',
        title: 'Custom Office',
        desc: 'Comfortable space, Full speed wifi, Free coffe & Snack and many more',
        img: {
          src: 'our-spaces-2.jpg',
          alt: 'Custom Office'
        }
      }
    ]
  };

include ../../layouts/our-spaces.pug
