-
  data = {
    tagline: 'Our Facilities',
    title: 'All facilities are designed to meet all your needs',
    list: [
      {
        tabs: [
          {
            name: 'Spacious parking area',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Spacious parking area'
            }
          },
          {
            name: 'Comfortable spaces',
            img: {
              src: 'gallery-1.jpg',
              alt: 'Comfortable spaces'
            }
          },
          {
            name: 'Cozy cafe',
            img: {
              src: 'gallery-2.jpg',
              alt: 'Cozy cafe'
            }
          },
          {
            name: 'Child playground',
            img: {
              src: 'gallery-3.jpg',
              alt: 'Child playground'
            }
          },
          {
            name: 'Outdoor spaces',
            img: {
              src: 'gallery-4.jpg',
              alt: 'Outdoor spaces'
            }
          },
        ]
      },
      {
        tabs: [
          {
            name: 'Spacious parking area',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Spacious parking area'
            }
          },
          {
            name: 'Comfortable spaces',
            img: {
              src: 'gallery-1.jpg',
              alt: 'Comfortable spaces'
            }
          },
          {
            name: 'Cozy cafe',
            img: {
              src: 'gallery-2.jpg',
              alt: 'Cozy cafe'
            }
          },
          {
            name: 'Child playground',
            img: {
              src: 'gallery-3.jpg',
              alt: 'Child playground'
            }
          },
          {
            name: 'Outdoor spaces',
            img: {
              src: 'gallery-4.jpg',
              alt: 'Outdoor spaces'
            }
          },
        ]
      },
      {
        tabs: [
          {
            name: 'Spacious parking area',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Spacious parking area'
            }
          },
          {
            name: 'Comfortable spaces',
            img: {
              src: 'gallery-1.jpg',
              alt: 'Comfortable spaces'
            }
          },
          {
            name: 'Cozy cafe',
            img: {
              src: 'gallery-2.jpg',
              alt: 'Cozy cafe'
            }
          },
          {
            name: 'Child playground',
            img: {
              src: 'gallery-3.jpg',
              alt: 'Child playground'
            }
          },
          {
            name: 'Outdoor spaces',
            img: {
              src: 'gallery-4.jpg',
              alt: 'Outdoor spaces'
            }
          },
        ]
      },
      {
        tabs: [
          {
            name: 'Spacious parking area',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Spacious parking area'
            }
          },
          {
            name: 'Comfortable spaces',
            img: {
              src: 'gallery-1.jpg',
              alt: 'Comfortable spaces'
            }
          },
          {
            name: 'Cozy cafe',
            img: {
              src: 'gallery-2.jpg',
              alt: 'Cozy cafe'
            }
          },
          {
            name: 'Child playground',
            img: {
              src: 'gallery-3.jpg',
              alt: 'Child playground'
            }
          },
          {
            name: 'Outdoor spaces',
            img: {
              src: 'gallery-4.jpg',
              alt: 'Outdoor spaces'
            }
          },
        ]
      },
      {
        tabs: [
          {
            name: 'Spacious parking area 2',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Spacious parking area'
            }
          },
          {
            name: 'Comfortable spaces 2',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Comfortable spaces'
            }
          },
          {
            name: 'Cozy cafe 2',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Cozy cafe'
            }
          },
          {
            name: 'Child playground 2',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Child playground'
            }
          },
          {
            name: 'Outdoor spaces 2',
            img: {
              src: 'our-facilities.jpg',
              alt: 'Outdoor spaces'
            }
          },
        ]
      }
    ]
  };

include ../../components/our-facilities.pug
