-
  data = {
    title: 'Who uses Frispes?',
    desc: 'Big brands, small bussiness, new startuo and inividuals',
    list: [
      {
        to: 'google.com',
        img: {
          src: 'google.svg',
          alt: 'google'
        }
      },
      {
        to: 'tokopedia.com',
        img: {
          src: 'tokopedia.svg',
          alt: 'tokopedia'
        }
      },
      {
        to: 'upwork.com',
        img: {
          src: 'upwork.svg',
          alt: 'upwork'
        }
      },
      {
        to: 'microsoft.com',
        img: {
          src: 'microsoft.svg',
          alt: 'microsoft'
        }
      },
      {
        to: 'shopify.com',
        img: {
          src: 'shopify.svg',
          alt: 'shopify'
        }
      },
      {
        to: 'stripe.com',
        img: {
          src: 'stripe.svg',
          alt: 'stripe'
        }
      },
    ]
  };

include ../../layouts/who-uses.pug
