-
  data = {
    tagline: 'Why Frispes',
    title: 'We revolutionize your workspace',
    desc: "With a decade of insights and expertise, we're decided to reimagine co-working space, designed to help a new startup grow up and realize their ideas so they can give a positive impacts on many people",
    list: [
      {
        icon: 'meeting-room.svg',
        title: '500+',
        desc: 'Meeting rooms'
      },
      {
        icon: 'circus.svg',
        title: '100+',
        desc: 'Event spaces'
      },
      {
        icon: 'flag.svg',
        title: '60+',
        desc: 'Countries'
      },
      {
        icon: 'wifi.svg',
        title: '500 Mbps',
        desc: 'Internet speed'
      },
      {
        icon: 'user.svg',
        title: '5k+',
        desc: 'Startup mentors'
      },
      {
        icon: 'multiple-user.svg',
        title: '200+',
        desc: 'Communities inside'
      },
    ]
  };

include ../../components/why-frisfes.pug
