//-------------------------------------------------------------------------------
  @name: Our Spaces
  -------------------------------------------------------------------------------//

// our-spaces
.our-spaces
  .container
    .our-spaces__head
      h2.our-spaces__title
        | !{data.title}
      p.our-spaces__desc
        | !{data.desc}
    .our-spaces__body.js-our-spaces
      each val in data.list
        - data = val;
        include ../components/our-spaces-item.pug
    .slider-counter


='\n'
// our-spaces
