//-------------------------------------------------------------------------------
  @name: Reviews
  -------------------------------------------------------------------------------//

// reviews
.reviews
  .container
    .reviews__container
      .reviews__content
        .reviews__head
          p.txt-el__tagline
            | !{data.tagline}
          h2.txt-el__title
            | !{data.title}
        .reviews__body.js-reviews.js-set-reviews
          each val in data.list
            - data = val;
            include ../components/reviews-item.pug

='\n'
// reviews
