/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: (
    1: #10375c,
    2: #0d2c4a
  ),
  secondary: (
    1: #ff5722,
    2: #dd2c00
  ),
  black: #222831,
  white: #fff,
  grey: (
    1: #6a6a6a,
    2: #9a9a9a,
    3: #cacaca,
    4: #dfdfdf,
    5: #f8f8f8
  ),
  success: #28a745,
  warning: #fcd664,
  danger: #fc6464,
  info: #17a2b8,
  overlay: rgba(#000, 0.75),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #833ab4,
    whatsapp: #25d366,
    youtube: #ff0000,
    tiktok: #000,
    linkedIn: #0077b5
  )
);
