/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
  header: 9,
  header-logo: 1,
  header-inner: 2,
  header-menu: 2,
  header-btn: 1,
  footer: 1,
  owl-nav: 1,
  owl-dots: 1,
  fe-dropdown: 1,
  fe-dropdown-dropbtn: 2,
  fe-dropdown-menu: 4,
  main-banner-list: 1,
  our-spaces-board: 2,
  our-spaces-board-btn: 2,
  our-spaces-btn: 1,
  reviews-avatar: 1,
  why-frisfes-item-icon: 1,
  who-uses-link: 2,
  help-center-link: 2,
  help-center-btn: 1,
  article-link: 2
);
