/* ==========================================================================
   Mixin Owl nav
   ========================================================================== */

@mixin owl-nav {
  .owl-nav {
    text-align: left;
    .owl-prev,
    .owl-next {
      width: 128px;
      @include font-size(52);
      color: color(secondary, 1);
      transition: all 0.3s ease;
      @include medium {
        width: 96px;
        @include font-size(40);
      }
      &.disabled {
        width: 88px;
        color: color(grey, 2);
        @include medium {
          width: 72px;
        }
        i::after {
          width: 48px;
          background-color: color(grey, 2);
        }
      }
      i {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 88px;
          height: 4px;
          background-color: color(secondary, 1);
          border-radius: 32px;
          transition: all 0.3s ease;
          @include medium {
            width: 64px;
            height: 3px;
          }
        }
      }
    }
    .owl-prev {
      text-align: left;
      i {
        &::after {
          left: 20px;
          @include medium {
            left: 16px;
          }
        }
      }
    }
    .owl-next {
      text-align: right;
      i {
        &::after {
          right: 20px;
          @include medium {
            right: 16px;
          }
        }
      }
    }
  }
}
