/* ==========================================================================
   Mixin Owl dot
   ========================================================================== */

@mixin owl-dot {
  .owl-dot {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 4px;
    margin-right: 8px;
    background-color: rgba(color(white), 0.5);
    transition: all 0.35s ease;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: color(secondary, 1);
      width: 40px;
    }
    &s {
      position: absolute;
      left: 50%;
      bottom: 56px;
      transform: translateX(-50%);
      z-index: zi(owl-dots);
      font-size: 0;
    }
  }
}
